body {
	background: #141414;
	color: #ffffff;
}

.kala-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
    width: 250px;
    height: calc(250px * (16/9));
	position: relative;
	transition: transform 0.2s;
	margin: 20px;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}